<div class="row lomake">
    <form class="form-inline">
        <h2>Mitä haluaisit tehdä?</h2>
        <input type="text" class="form-control" ng-model='activity.what' ng-change="query()" autofocus>
        <button class="btn btn-success" ng-click="addActivity()"> + </button>
    </form>
    <div id="searchbar" ng-show="activity.what">
        <button type="button" class="list-group-item list-group-item" 
                ng-repeat="act in activities| filter:activity | orderBy:'-amount'" 
                ng-click="activityClicked(act)"
                ng-disabled="auth.uid == act.users">
            {{act.what}} <span class="pull-right">({{act.amount}})</span>
        </button>
    </div>
    <form class="form-inline">
        <h2>Milloin sinulla on vapaata?</h2>
        <input type="date" class="form-control" ng-model='date'>
        <button class="btn btn-success" ng-click="addDate()"> + </button>
    </form>
    <p ng-repeat="date in dates">{{date}}</p>
</div>